---
layout: default
title: Home
---

{% include intro.html %}

{% assign homepage_post_titles = "AI Fundamentals: World Models for Planning Agents|AI Fundamentals: Energy-Based Models|How to write a good personal statement for UK universities" | split: "|" %}

<section class="post-list">
  <div class="container">
    {% for post in site.posts %}
      {% if homepage_post_titles contains post.title %}
        <article class="post-item">
          <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></div>
        </article>
      {% endif %}
    {% endfor %}
  </div>

</section>
