<section class="intro">
  <div class="container">
    <p>👋 Hi, I'm Michal. I like AI. If you like AI, you might also like some of the stuff I wrote.</p>

  <p style="text-align:center">
    <a href="mailto:mpmisko@gmail.com" target="_blank">Email</a> &nbsp &nbsp
    <a href="https://scholar.google.com/citations?user=IDQmvPMAAAAJ&hl=en&oi=ao" target="_blank">Google Scholar</a> &nbsp &nbsp
    <a href="https://X.com/michal_pandy" target="_blank">X</a> &nbsp &nbsp
    <a href="https://www.linkedin.com/in/michal-pandy/" target="_blank">LinkedIn</a>
  </p>

</section>
