<section class="intro">
  <div class="container">
    👋 Hello, I'm Michal. This blog is for my ML learning notes, research ideas, and some tips I discover along the way.
  </div>

  <p style="text-align:center">
    <a href="mailto:mpmisko@gmail.com">Email</a> &nbsp &nbsp
    <a href="https://scholar.google.com/citations?user=IDQmvPMAAAAJ&hl=en&oi=ao">Google Scholar</a> &nbsp &nbsp
    <a href="https://twitter.com/michal_pandy">Twitter</a> &nbsp &nbsp
    <a href="https://www.linkedin.com/in/michal-pandy/">LinkedIn</a>
  </p>
</section>
